@charset "UTF-8";
@import url("reset.css");




body{
	font-family:"微软雅黑";
	font-size:16px;
	
}


.logo{
		width:1000px;
		height:100px;
		margin:0 auto;
		margin-top:2px;
		position:relative;

		img{
			width:110px;
			height:50px;
			position:absolute;
			left:20px;
			top:15px;
		}
	}

	.nav{
		width:700px;
		height:48px;
		position:absolute;
		right:10px;
		top:15px;
		


		li{
			width:77px;
			float:left;
			list-style:none;
			line-height:48px;
			float:left;
			text-align:center;
			margin-left:15px;
			position:relative;


			a{
				color:#000;
				display:block;
				width:77px;
				height:30px;
				position:relative;
				z-index:111;

			}
			span{
				
				position:absolute;
				top:20px;
				left:0px;
				width:77px;
				text-align:center;
				color:#ccc;
			   display:none; 
			}
			
			

		}
		

	}

.banner{
	width:100%;
	height:261px;
	position:relative;

	img{
		width:100%;
		height:261px;
	}

	p{
		width:140px;
		height:140px;
		border-radius:50%;
		
		position:absolute;
		right:300px;
		top:50px;
		overflow:hidden;

		img{
			width:140px;
			height:140px;
		}
		span{
			display:inline-block;
			width:100%;
			height:40px;
			line-height:40px;
			position:absolute;
			bottom:0px;
			left:0px;
			z-index:333;
			background:rgba(0,0,0,.4);
			color:#fff;
			text-align:center;
			display:none;
		}


	}
	p:hover{
		span{
			display:block;
		}
	}

	.zi{
		width:158px;
		height:200px;
		position:absolute;
		left:250px;
		top:30px;
		font-size:12px;
	}
	h3{
		width:15px;
		height:200px;
		float:left;
		margin-left:18px;
		color:#ccc;
		
	}
	
	.er{
		 -webkit-animation-delay:2s;
		 -moz-animation-delay:2s;
		 -o-animation-delay:2s;
		 animation-delay:2s;
	}
	.san{
		-webkit-animation-delay:4s;
		 -moz-animation-delay:4s;
		 -o-animation-delay:4s;
		 animation-delay:4s;
	}

}
.list{
		width:100%;
		height:200px;
		background:#f1f0ee;

		.l_center{
			width:1000px;
			height:200px;
			margin:0 auto;
			padding-top:10px;
			


			ol{
				width:100%;
				height:150px;
				padding-top:30px;

				li{
					float:left;
					margin-left:12px;
				}
			}
		}
	}
.warp{
	width:1000px;
	height:1450px;
	
	margin:10px auto;
	h2{
		width:100%;
		position:relative;
		height:40px;
		padding-left:90px;
		line-height:40px;
		font-weight:600;
		em{
			font-style:normal;
			color:#fe5187;
		}


		span{
			position:absolute;
			left:0px;
			top:1px;
			


		}

	}

	.w_left{
		width:650px;
		height:auto;
		float:left;
		

		.duan{
			width:100%;
			height:200px;
			border-bottom:1px solid #cccccc;

			dl{
				width:650px;
				padding-top:30px;
				height:208px;


				dt{
					float:left;
					width:170px;

				}



				dd{
					float:right;
					width:470px;
					h6{
						font-weight:600;
					}
					p{
						font-size:12px;
						line-height:23px;
						margin:12px 0px;
					}

					h5{
						font-size:12px;
						i{
							font-style:normal;
							color:#759b08;

						}
						span{
							float:right;
						}
					}

				}
			}
		}


		
	}
	.w_center{
		float:left;
		margin-left:16px;
		height:auto;
	}
	.w_right{


		width:300px;
		height:auto;
		float:left;


		h5{
				width:100%;
				height:40px;
				border-bottom:1px solid #ccc;
				line-height:40px;
				margin-left:13px;
			}
		.kuai{
			width:100%;
			height:150px;

			a{
				display:block;
				float:left;
				width:135px;
				height:35px;
		    	border:1px solid #ccc;
				margin-left:11px;
				text-align:center;
				line-height:35px;
				margin-top:10px;
			  -webkit-transition: all 1s; 
			  -moz-transition: all 1s; 
			  -o-transition: all 1s; 
			  transition: all 1s ;
			  
				
			}
			a:hover{
				-webkit-transform: rotate(360deg); 
				-moz-transform: rotate(360deg); 
				-o-transform: rotate(360deg);
				 transform: rotate(360deg);
			}
		}

		.r_top{
			width:308px;
			height:178px;

			
		}
		.de{
			width:100%;
			height:113px;
			margin-top:20px;


			dl{
				width:60px;
				height:76px;
				float:left;
				margin-left:13px;
				font-size:12px;
				line-height:20px;
				text-align:center;

				
			}


		}
	}
	.move{
		height:293px;
		width:100%;

		ul{
			width:100%;
			height:24px;
			border-bottom:1px solid #eaeaea;
			margin-left:13px;
			
			li{
				list-style:none;
				float:left;
				margin-left:10px;
				width:86px;
				height:24px;
				line-height:24px;
				font-size:12px;
				text-align:center;
				

			}
			.di{
				background:#f77825;
				color:#fff;

			}
		}
		.jishu{
			width:100%;
			height:236px;
			margin-left:13px;
			margin-top:20px;
			position:relative;
			overflow:hidden;


			p{
				border-bottom:1px solid #eaeaea;
				height:34px;
				margin-top:5px;
				line-height:34px;
				padding-left:10px;
				span{
					display:inline-block;
					width:20px;
					height:15px;
					line-height:15px;
					text-align:center;
					background:#c8c8a9;
					color:#fff;
					font-size:12px;
					border-radius:2px;
				}
				.r{
					background:#fe4365;
				}
				.r1{
					background:#3fb8af;
				}
				.r2{
					background:#eb6841;
				}

			}

			.diwei{
				width:900px;
				height:236px;
				position:absolute;
				left:0px;
				top:0px;

				ol{
					
					width:300px;
					height:236px;
					float:left;
					padding-left:40px;

					li{	
						height:34px;
						margin-top:5px;
						line-height:34px;
						
						font-size:12px;
					}

				}
			}
		}


	}

	.mxn{
		width:100%;
		height:420px;

		dl{
			margin-top:20px;
			margin-left:13px;
			height:53px;

			dt{
				float:left;
				width:70px;
				height:53px;
			}
			dd{
				float:right;
				width:200px;
				height:53px;
				font-size:12px;
				line-height:25px;

				img{
					margin-top:2px;
				}
			}
		}
	}
	.tu{
		margin-left:13px;
		margin-top:3px;
	}


}
.footer{
	width:1000px;
	height:30px;
	margin: 3px auto;
	background:#f1f0ee;
	text-align:center;
	font-size:12px;
	line-height:30px;
	
}



.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);

    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
     -o-transform: none;
      -moz-transform: none;
      
       transform: none;
  }
}

@keyframes fadeInLeft {
   from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);

    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
     -o-transform: none;
      -moz-transform: none;
      
       transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


