@charset "UTF-8";
@import url("reset.css");




body{
	font-family:"微软雅黑";
	font-size:16px;
	
}


.logo{
		width:1000px;
		height:100px;
		margin:0 auto;
		margin-top:2px;
		position:relative;

		img{
			width:110px;
			height:50px;
			position:absolute;
			left:20px;
			top:15px;
		}
	}

	.nav{
		width:700px;
		height:48px;
		position:absolute;
		right:10px;
		top:15px;
		


		li{
			width:77px;
			float:left;
			list-style:none;
			line-height:48px;
			float:left;
			text-align:center;
			margin-left:15px;
			position:relative;


			a{
				color:#000;
				display:block;
				width:77px;
				height:30px;
				position:relative;
				z-index:111;

			}
			span{
				
				position:absolute;
				top:20px;
				left:0px;
				width:77px;
				text-align:center;
				color:#ccc;
			   display:none; 
			}
			
			

		}
		

	}


	.warp{
		width:1000px;
		
		margin:0 auto;
		margin-top:3px;
		


		h3{
			width:1000px;
			height:50px;
			border-bottom:1px solid #ccc;
			p{
				width:180px;
				height:50px;

				a{
					display:inline-block;
					width:90px;
					height:50px;
					line-height:50px;
					text-align:center;
					color:#fff;
					background:#5ea51b;
				}
				.gai{
					background:#8bbf5d;
				}
			}
		}

	

	.zhong{
		width:1000px;
		height:1000px;
		overflow:hidden;
		margin-top:9px;


		.z_left{
			width:650px;
			
			float:left;


		.duan{
			width:100%;
			height:200px;
			border-bottom:1px solid #cccccc;

			dl{
				width:650px;
				padding-top:30px;
				height:208px;

				dt{
					float:left;
					width:170px;
				}


				dd{
					float:right;
					width:470px;
					h6{
						font-weight:600;
					}
					p{
						font-size:12px;
						line-height:23px;
						margin:12px 0px;
					}

					h5{
						font-size:12px;
						i{
							font-style:normal;
							color:#759b08;

						}
						span{
							float:right;
						}
					}

				}
			}
		}


		
	



		}
		.z_center{
			float:left;
		     margin-left:16px;
		}

		.z_right{
			width:300px;
			
			float:left;

			h5{
				width:300px;
				height:30px;
				
				line-height:30px;
				margin-left:13px;

				span{
					float:left;
					margin-right:8px;
				}
			}

			.kuai{
			width:100%;
			height:150px;
			clear:both;

			a{
				display:block;
				float:left;
				width:135px;
				height:35px;
				border:1px solid #ccc;
				margin-left:11px;
				text-align:center;
				line-height:35px;
				margin-top:10px;
			   -webkit-transition: all 1s; 
			  -moz-transition: all 1s; 
			  -o-transition: all 1s; 
			  transition: all 1s ;
			   
				
			}
			a:hover{
				-webkit-transform: rotate(360deg); 
				-moz-transform: rotate(360deg); 
				-o-transform: rotate(360deg);
				 transform: rotate(360deg);
			}
		}

		.mo{
			width:300px;
			margin-left:20px;
			h6{

				width:100%;
				font-size:16px;
				height:30px;
				line-height:30px;
				font-weight:600;
				position:relative;
				padding-left:80px;
				small{
					position:absolute;
					left:0px;
					top:4px;
				}
				em{
					color:#37ccca;
					font-style:normal;

				}
			}
			ol{
				width:300px;
				height:270px;


				li{
					list-style:none;
					height:30px;
					line-height:30px;
					position:relative;
					padding-left:30px;
					font-size:12px;
					border-bottom:1px #ccc dashed;

					.huan{
						background:#37ccca;
					}
					span{
						position:absolute;
						left:3px;
						top:9px;
         				width:20px;
						height:15px;
						font-size:12px;
						line-height:15px;
						text-align:center;
						background:#545454;
						color:#fff;
						font-style:normal;
						border-radius:4px;

					}
				}
			}

			ul{
				width:300px;
				height:270px;

				li{

					list-style:none;
					height:30px;
					line-height:30px;
					position:relative;
					padding-left:2px;
					font-size:12px;
					border-bottom:1px #ccc dashed;


					
					span{
						float:left;
						padding-right:3px;


					}









				}



				
			}
		}
		}
	}

	}
	.footer{
	width:1000px;
	height:30px;
	margin: 20px auto;
	background:#f1f0ee;
	text-align:center;
	font-size:12px;
	line-height:30px;
	
}
